/*Global*/
html {
  background-image: url("../assets/images/base.jpg");
  background-size: cover;  
}

/*Menu*/
#tabmenu {
  width: 100%;
  padding: 0 0 20px 0;
}

#brand {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #36465638;
  margin-bottom: 15px;
  padding-right: 5px;
}

img {
  width: 60%;
  opacity: 1;
  filter: none;
}

/*Panel*/
.tabpanel {
  align-items: center;
  width: 100%;
  padding: 0 5px 20px 0;
  height: auto;
}

#description {
  margin: 10px 0;
}

#header {
  font-size: 32px;
  margin-bottom: 30px;
  color: #a24458;
  font-weight: 500;
}

/*Contact */
#contactWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

#contactDescritpions {
  margin-top: 60px;
  width: 60%;
  text-align: left;
}

#contactDescritpionsHeader {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

#contactMap {
  margin-top: 10px;
  width: auto;
  background-color: #ddd;
}

/*Others*/
#listItem {
  margin-left: 15px;
}

/*@madia*/

@media (min-width: 1024px) {
  #contactWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

