/*Menu*/
#tabmenu {
  width: 100%;
  padding: 0 0 20px 0;
}

#brand {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #36465638;
  margin-bottom: 15px;
  padding-right: 5px;
}

img {
  width: 60%;
}

/*Panel*/
.tabpanel {
  align-items: center;
  width: 100%;
  padding: 0 5px 20px 0;
  height: auto;
}

#description {
  margin: 10px 0;
  width: 100%;
}

#header {
  font-size: 32px;
  margin-bottom: 30px;
  color: #a24458;
  font-weight: 600;
  line-height: 1px;
  text-align: center;
}

/*Contact */
#contactDescritpions {
  margin-top: 60px;
  width: 60%;
  text-align: left;
}

#contactDescritpionsHeader {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

#contactMap {
  margin-top: 10px;
  width: 100%;
  margin: 0 auto;
}

/*Others*/
#listItem {
  margin-left: 15px;
}

/*@media*/
@media only screen and (max-width: 600px) {
  html {
    background-position-x: 400px;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
}
