#about {
  width: 80%;
  margin: 0 auto;
}

.greyText {
  color: #818181;
}

#wrapperSectionAbout {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

#wrapperSectionAboutRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calltoaction {
  background-color: #383838;
}

#calltoactionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  transition: ease-in;
}

#calltoactionWrapper img {
  height: 240px;
}

#calltoactionWrapper:hover img {
  filter: grayscale(80);
}

#realizations {
  width: 90%;
  margin: 0 auto;
}

#wrapperSectionrealizations {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  margin-bottom: 60px;
}

#wrapperSectionrealizationsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

#wrapperSectionrealizationsRight {
  padding: 0 20px;
}

#services {
  color: white;
  background-color: #383838;
}

#wrapperSectionServices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
  width: 100%;
  margin: 60px auto;
}

#machine {
  margin: 0 auto;
  margin-bottom: 60px;
}

#wrapperSectionMachine {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

#wrapperSectionMachineLeft {
  width: 100%;
}

#wrapperSectionMachineRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.footer {
  background-color: #383838;
}

#contact {
  background-color: #383838;
}

#contactWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 20px;
  color: white;
  background-color: #383838;
}

#contactDescritpionsHeaderTitle {
  color: white;
  text-align: left;
  font-weight: 700;
  margin: 10px 0 10px 0;
  font-size: 20px;
}

#contactMap {
  display: block;
  margin: 0 auto;
}

#description {
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 14px;
  text-align: justify;
  hyphens: auto;
  padding: 0 20px;
}

#headerWrapper {
  font-size: 44px;
  color: #383838;
  text-align: center;
  font-weight: 700;
  margin: 10px 0 50px 0;
}

#headerWrapperServices {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 10px 0 50px 0;
  font-size: 44px;
}

#headerWrapperContact {
  color: white;
  text-align: left;
  font-weight: 700;
  margin: 10px 0 50px 0;
  font-size: 44px;
}

#wrapperSectionServicesLeft {
  padding: 0 15px 0 15px;
}

#wrapperSectionServicesRight {
  padding: 0 20px 0 15px;
}

#subHeader {
  color: white;
  text-align: left;
  font-weight: 700;
  margin: 10px 0 20px 0;
  font-size: 30px;
}

#descriptionFooter {
  color: white;
  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  line-height: 30px;
}

.section {
  padding: 40px 0;
}

.container {
  max-width: 1170px;
  margin: 60px auto;
}

ul {
  line-height: 26px;
  font-size: 14px;
}

#listItem {
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  #home {
    padding-top: 1px;
  }
  #about {
    width: 100%;
    padding-top: 95px;
  }
  #wrapperSectionAbout {
    display: grid;
    grid-template-columns: 1fr;
  }
  #realizations {
    width: 100%;
    padding-top: 95px;
  }
  #services {
    padding-top: 95px;
  }
  #machine {
    padding-top: 90px;
  }
  #wrapperSectionrealizations {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  #wrapperSectionrealizationsLeft {
    margin-bottom: 60px;
  }
  #wrapperSectionServices {
    grid-template-columns: 1fr;
  }
  #wrapperSectionServicesLeft {
    margin-bottom: 60px;
  }

  #wrapperSectionMachine {
    grid-template-columns: 1fr;
  }
  #wrapperSectionMachineLeft {
    margin-bottom: 60px;
  }

  #headerWrapperContact {
    text-align: center;
  }
  #contactWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  #contactDescritpions {
    margin-bottom: 60px;
  }
  #contactMap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) {
  #home {
    padding-top: 1px;
  }
  #about {
    width: 100%;
    padding-top: 95px;
  }
  #wrapperSectionAbout {
    display: grid;
    grid-template-columns: 1fr;
  }
  #realizations {
    width: 100%;
    padding-top: 95px;
  }

  #services {
    padding-top: 95px;
  }
  #machine {
    padding-top: 90px;
  }
  #wrapperSectionrealizations {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  #wrapperSectionrealizationsLeft {
    margin-bottom: 60px;
  }
  #wrapperSectionServices {
    grid-template-columns: 1fr;
  }
  #wrapperSectionServicesLeft {
    margin-bottom: 60px;
  }

  #wrapperSectionMachine {
    grid-template-columns: 1fr;
  }
  #wrapperSectionMachineLeft {
    margin-bottom: 60px;
  }

  #headerWrapperContact {
    text-align: center;
  }
  #contactWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  #contactDescritpions {
    margin-bottom: 60px;
  }
  #contactMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
  }
}

@media only screen and (min-width: 992px) {
  #home {
    padding-top: 1px;
  }
  #about {
    width: 100%;
    padding-top: 95px;
  }
  #wrapperSectionAbout {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
  }
  #realizations {
    width: 100%;
    padding-top: 95px;
  }

  #services {
    padding-top: 95px;
  }
  #machine {
    padding-top: 90px;
  }
  #wrapperSectionrealizations {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    margin-bottom: 60px;
  }
  #wrapperSectionrealizationsLeft {
    margin-bottom: 60px;
  }
  #wrapperSectionServices {
    grid-template-columns: 1fr 1fr;
  }
  #wrapperSectionServicesLeft {
    margin-bottom: 60px;
  }

  #wrapperSectionMachine {
    grid-template-columns: 1fr 1fr;
  }
  #wrapperSectionMachineLeft {
    margin-bottom: 60px;
  }

  #headerWrapperContact {
    text-align: left;
  }
  #contactWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #contactDescritpions {
    margin-bottom: 60px;
  }
  #contactMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  #home {
    padding-top: 1px;
  }
  #about {
    padding-top: 95px;
    width: 100%;
  }
  #wrapperSectionAbout {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
  }
  #realizations {
    padding-top: 95px;
    width: 100%;
  }

  #wrapperSectionrealizations {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    margin-bottom: 60px;
  }
  #wrapperSectionrealizationsLeft {
    margin-bottom: 60px;
  }
  #wrapperSectionServices {
    grid-template-columns: 1fr 1fr;
  }
  #wrapperSectionServicesLeft {
    margin-bottom: 60px;
  }

  #wrapperSectionMachine {
    grid-template-columns: 1fr 1fr;
  }
  #wrapperSectionMachineLeft {
    margin-bottom: 60px;
  }

  #headerWrapperContact {
    text-align: left;
  }
  #contactWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #contactDescritpions {
    margin-bottom: 60px;
  }
  #contactMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
  #services {
    padding-top: 95px;
  }
  #machine {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  #home {
    padding-top: 1px;
  }

  #about {
    width: 80%;
    margin: 0 auto;
    padding-top: 90px;
  }

  #realizations {
    width: 80%;
    margin: 0 auto;
    padding-top: 90px;
  }
  #services {
    padding-top: 95px;
  }
  #machine {
    padding-top: 90px;
  }
  #contactMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
  }
  #contactWrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1201px) {
  #calltoactionWrapper {
    max-width: 1250px;
    margin: 0 auto;
  }
  #contactWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1250px;
  }
  #contactMap {
    max-width: 600px;
  }
  #contactWrapper {
    width: 100%;
  }
}
