.navbar {
  height: auto;
  padding: 20px 0;
}

#navbar-item-photo {
  display: block;
  font-size: 44px;
  line-height: 44px;
}

#navbar-item-photo {
  display: block;
  height: 70px;
  margin-left: 20px;
  border-radius: 150px;
}

.navbar-start {
  text-transform: uppercase;
  margin: 0 auto;
}

#linkItem {
  border-bottom: 2px solid white;
  letter-spacing: 0.5px;
  font-size: 17px;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 20px;
  transition: 0.2s;
  margin-right: 15px;
}
#linkItem:hover {
  color: #a44458;
  border-bottom: 2px solid #a44458;
}
